/* force float buttons to the right on glossary view */
.btns-glo {
    justify-content: space-between;
    position: absolute;
    width: 0rem;
    margin-right: 0;
    right: 20%;
}

/* Nav: brand-image */
#image-logo {
    height: 60px;
    width: auto;
    padding: 2px 4px;
    /* margin-left: 6px; */
  }

  .navbar{
      background-color:#3b4a40 !important;
  }

  .nav-links {
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 0.2em;
  }

  .nav-drop {
      text-transform: uppercase;
      font-size: 85% !important;
      letter-spacing: 0.1em;
  }

/* Body and Footer */
body {
    /* Background image */
    background: url('/static/images/paper01.png');
    /* Sticky Footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

/* Footer credits */
footer{
    text-transform: uppercase;  
    letter-spacing: 0.2em;
    color: #888;
    background-color: #fbfbf8 !important;
    padding: 10px 5px 5px 5px;
  }

  .foot-creds {
      font-size: 85%;
  }

  .unicorn{
      font-size: 125%;
  }

  .foot-links {
      font-size: 125%;
  }

  /* About Card */
  .card {
      /* background-color: #fbfbf8; */
      background: url('/static/images/paper02.png');
  }