/* force float buttons to the right on glossary view */
.btns-glo {
    justify-content: space-between;
    position: absolute;
    right: 14%;
}

/* fix buttons dimensions on glossary view */
.btn-small {
    padding-left: 2px;
    margin-right: 8px;
    color: grey;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }