/* Typography */
html {
    font-family: "Lato", sans serif;
    letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase !important;
    letter-spacing: 0.1em;
}

/* Container */
.template-container {
    margin-top: 30px;
}

/* Body and Footer */
body {
    /* Background image */
    background: url('/static/images/paper01.png');
    /* Sticky Footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Footer credits */
footer{  
    letter-spacing: 0.2em;
    line-height: 2em;
    background-color: #fbfbf8 !important;
    padding: 15px 5px 15px 5px;
}

.foot-creds,
.ether-girl {
    text-transform: uppercase;
    font-size: 85%; 
}

.foot-links {
    font-size: 125%;
}

footer a {
color: #3b4a40 !important;
}

/* Nav */
#image-logo {
    height: 60px;
    width: auto;
    padding: 2px 4px;
    margin-top: 2px;
}

.navbar{
      background-color:#3b4a40 !important;
      padding: 0px 20px 0px 20px !important;
}

.nav-links {
      text-transform: uppercase;
      font-size: 80%;
      letter-spacing: 0.2em;
}

.nav-drop {
      text-transform: uppercase;
      font-size: 80% !important;
      letter-spacing: 0.1em;
}

/* Glossary buttons */
.btns-glo {
    justify-content: space-between;
    position: absolute;
    width: 0rem;
    margin-right: 0;
    right: 20%;
}

/* Intro Card */
.card {
    background: url('/static/images/paper02.png');
}

.card-content {
    font-family: "Georgia", serif !important;
    padding: 4px;
    text-align: center;
}

/* Form Validator Alert */
.alert .alert-badge {
    margin: 20px 0px 5px 0px;
    padding: 20px 15px;
    text-transform: uppercase;
    text-align: center;
}