{% extends 'base.html' %}
{% block content %}

<h5>Add New Term</h5>
<div class="row">

    <!-- Start form: add new term to the database -->
    <form  action="{{ url_for('insert_term') }}" method="POST" class="col s12">

        <!-- Select category from database -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">label</i>
                <select id="category" name="category_name">
                <option value="" disabled selected>Choose Category</option>
                {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                {% endfor %}
            </select>
                <label>Category</label>
            </div>
        </div>

        <!-- Add term name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">attachment</i>
                <input id="term_name" name="term_name" type="text">
                <label for="icon_prefix">Name</label>
            </div>
        </div>

        <!-- Add term description or definition -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_comment</i>
                <textarea name="term_description" id="term_description" class="materialize-textarea"></textarea>
                <label for="icon_prefix">Description or Definition</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row">
            <!-- Save button -->
            <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                Add to Glossary
                <i class="material-icons right">save_alt</i>
            </button>
            <!-- Cancel button -->
            <a href="{{ url_for('get_terms') }}" 
                class="waves-effect waves-light btn grey">
                Cancel
                <i class="material-icons right">cancel</i>
            </a>
        </div>

    </form>
</div>

{% endblock %}