{% extends 'base.html' %}
{% block content %}

<h3>Add New Term</h3>
<div class="row">

    <!-- Start form: add new term -->
    <form  action="" method="POST" class="col s12">

        <!-- Select category from database -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">ballot</i>
                <select id="category" name="category_name">
                <option value="" disabled selected>Choose Category</option>
                {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                {% endfor %}
            </select>
                <label>Term Category</label>
            </div>
        </div>

        <!-- Add term name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">bubble_chart</i>
                <input id="term_name" name="term_name" type="text">
                <label for="icon_prefix">Term Name</label>
            </div>
        </div>

        <!-- Add term description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_comment</i>
                <textarea name="term_description" id="term_description" class="materialize-textarea"></textarea>
                <label for="icon_prefix">Term Description</label>
            </div>
        </div>

    </form>
</div>

{% endblock %}