{% extends 'base.html' %}
{% block content %}

<h3>Add New Term</h3>
<div class="row">
    <form  action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">bubble_chart</i>
                <input id="term_name" name="term_name" type="text">
                <label for="icon_prefix">Term Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_comment</i>
                <textarea name="term_description" id="term_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Term Description</label>
            </div>
        </div>
    </form>
</div>

{% endblock %}