<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>The Cryptopedia World</title>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/0e62df9888.js" crossorigin="anonymous"></script>
    <!-- Materialize Fonts/Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
</head>

<main>

    <header>
            
        <!-- Nav -->
        <nav class="navbar black-text">

            <!-- Nav wrapper -->
            <div class="nav-wrapper">

                <!-- Logo at Nav -->
                <a href="{{url_for('get_terms')}}" class="brand-logo">
                    <img id='image-logo' alt="The Cryptopedia World" src="{{ url_for('static', filename='images/logo-cpw-blue.png') }}">
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                
                <!-- Responsive Nav -->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a class="nav-links" href="{{url_for('get_terms')}}">
                            <i class="material-icons left">menu_book</i>
                            Glossary
                        </a>
                    </li>
                    <li>
                        <a class="nav-links" href="{{url_for('add_term')}}">
                            <i class="material-icons left">library_add</i>
                            Add New
                        </a>
                    </li>   
                    
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-trigger dropdown-button nav-links" 
                            href="#!" data-activates="dropdown1">
                            <i class="material-icons left">label</i>
                            Categories<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    
                    <!-- Dropdown Link Structure -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a class="nav-drop black-text" href="{{url_for('get_categories')}}">Manage Categories</a></li> 
                        <li class="divider"></li>
                        <li><a class="nav-drop cyan-text text-accent-4" href="#!">Category one</a></li>
                        <li><a class="nav-drop cyan-text text-accent-4" href="#!">Category two</a></li>
                        <li><a class="nav-drop cyan-text text-accent-4" href="#!">Category three</a></li>
                    </ul>
                    <li>
                        {% if session['username'] %}
                            <a class="btn cyan accent-4" href="{{ url_for('logout') }}" alt="Log out">
                                Hi {{ session['username'] }}!
                            </a>
                        {% else %}
                            <a class="btn cyan accent-4" href="{{ url_for('login') }}" alt="Log in">
                                Log In
                            </a>
                        {% endif %}
                    </li>
                </ul>
                
                <!-- Mobile Nav -->
                <ul class="side-nav cyan-text text-darken-2" id="mobile-demo">
                    <li>{% if session['username'] %}
                            <a class="btn cyan accent-4" href="{{ url_for('logout') }}">
                                Hi {{ session['username'] }}!
                            </a>
                        {% else %}
                            <a href="{{ url_for('login') }}">
                                <i class="material-icons">vpn_key</i>
                                Log In
                            </a>
                    </li>
                    <li><a href="{{url_for('get_terms')}}">
                            <i class="material-icons left">menu_book</i>
                            Glossary
                        </a>
                    </li>
                    <li><a href="{{url_for('add_term')}}">
                            <i class="material-icons left">library_add</i>
                            Add New
                        </a>
                    </li>   
                    <li><a href="{{url_for('get_categories')}}">
                            <i class="material-icons left">label</i>
                            Categories
                        </a>
                    </li>
                </ul>

            <!-- Nav wrapper ends here -->
            </div>

        <!-- Nav ends here -->
        </nav>

    <!-- Header ends here -->
    </header>

    
    <!-- Container starts here -->
    <div class="container">
        <!-- Flash Message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}" 
                     style="margin: 20px 0px 5px 0px;
                            padding: 20px 15px;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            text-align: center">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <!-- Parent Template Block -->
        {% block content %}
        {% endblock %}
    </div>


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Js Functions -->
    <script type="text/javascript">
        // JS Initialization
        $(document).ready(function(){
            // Js Collapsible Accordion
            $('.collapsible').collapsible();
            // Js Select
            $('select').material_select();
            // Nav and mobile nav
            $('.button-collapse').sideNav();
            $('.sidenav').sidenav();
            $('.dropdown-button').dropdown();
            // Search
            $('input.autocomplete').autocomplete();
            $('#search').val();
            // $('input[type="search"]').val();
            // alert($('input[type="search"]').val());
            // $('#search-form').submit(function() {              
            //     goUrl = 'https://thecryptopedia.herokuapp.com/' + $('#search').val().toLowerCase();
            //     window.location = goUrl;
            //     return false;  // Prevent the default form behaviour
            // });  
        });
        
    </script>
</main>

<!-- Footer and Copyright-->
<footer>
    <div class="footer-copyright center">
        <div class="container">
            <div class="foot-creds grey-text">
                {% if session['username'] %}
                    You are logged in as {{ session['username'] }}
                    </br>
                {% endif %}
                The Cryptopedia World
            </div>
            <div class="ether-girl">
                <a href="http://theethergirl.substack.com" target ='_blank' alt='Blog: The Ether Girl'>Built by The Ether Girl</a>
            </div>
            <div class ="foot-links">
                <a href="mailto:info@kescardoso.com" target ='_blank' alt='Contact'><i class="footer-links far fa-envelope"></i></a>
                <a href="https://github.com/kescardoso/cryptopedia" target ='_blank' alt='Github Repo'><i class="footer-links fab fa-github-alt"></i></a>
                <a href="https://twitter.com/TokensForK" target ='_blank' alt='Twitter'><i class="footer-links fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>

</html>