{% extends 'base.html' %}
{% block content %}

    <h5>Categories</h5>
    <!-- Start list: categories -->
    <div class="row">

        <ul class="collapsible" data-collapsible="accordion">
            {% for category in categories %}
            
            <li>
                <!-- Categories list -->
                <div class="collapsible-header">
                    <!-- Category header: with external links to dynamic list view -->
                    <div class="cat-header"> 
                        {{category.category_name}} <a href="{{ url_for('filter_terms', category=category.category_name) }}" alt="See all terms from this category"> 
                            <i class="material-icons open-list-icon">launch</i> 
                        </a> 
                    </div>
                    <!-- Edit and delete button -->
                    <div class="glos-icon">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div> 
            </li>

            {% endfor %}
        </ul>
    </div>

    <!-- Button: add new category -->
    <div class="row">
        <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn cyan accent-4">
            <i class="material-icons right">library_add</i>Add New Category</a>
    </div>
    
{% endblock %}