{% extends 'base.html' %}
{% block content %}

    <h5>Categories</h5>
    <!-- Start list: categories -->
    <div class="row">

        <ul class="collapsible" data-collapsible="accordion">
            {% for category in categories %}
            
            <li>
                <!-- Categories list -->
                <div class="collapsible-header">
                    <div class="cat-header"> 
                        <!-- Category header -->
                        {{category.category_name}} <!-- <a href="{{ url_for('filter_terms', category_name=category._name) }}" class="btn-flat"> 
                                See All <i class="material-icons">launch</i>
                            </a> --> <!-- Add Link to category query (same as category dropdown) -->
                    </div>

                    <div class="btns-glo">
                        <!-- Edit and delete button -->
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" 
                            class="btn-flat">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div> 
            </li>

            {% endfor %}
        </ul>
    </div>

    <!-- Button: add new category -->
    <div class="row">
        <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn cyan accent-4">
            <i class="material-icons right">library_add</i>Add New Category</a>
    </div>
    
{% endblock %}