{% extends 'base.html' %}
{% block content %}

    <h3>Categories</h3>
    <!-- Start List: Categories -->
    <div class="row">

        <ul class="collapsible" data-collapsible="accordion">
            {% for category in categories %}
            
            <li>
                <!-- Categories List -->
                <div class="collapsible-header">
                    <div class="cat-header"> 
                        <!-- Category Header: name - category -->
                        {{category.category_name}}
                    </div>

                    <div class="btns-glo">
                        <!-- Edit and Delete Button -->
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" 
                            class="waves-effect btn-flat">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>
                </div> 
            </li>

            {% endfor %}
        </ul>
    </div>

    <!-- Button: Add new category -->
    <div class="row">
        <a href="{{url_for('add_category')}}" class="waves-effect waves-light btn cyan darken-2">
            <i class="material-icons right">library_add</i>Add New Category</a>
    </div>
    
{% endblock %}