{% extends 'base.html' %}
{% block content %}

    <h5>About & Credits</h5>
    <div class="row abt">

        <div class="col s12">
            <h6>About</h6>

            <p>The Cryptopedia is a community encyclopedia about crypto assets, crypto economy, and blockchain technology. 
            When we first start working with cryptocurrencies, terms and concepts may sound foreign. It can take significant 
            time to understand this information and gain momentum to dive into the fantastic possibilities available in crypto 
            investments and decentralized finance. The goal of The Cryptopedia is to help people get to the fundamentals faster 
            and in a friendly manner. The Cryptopedia is free to use, and all are welcome to join in contributing and building the archives.
            </p>
            
            <p>
            <a href="https://www.similarweb.com/website/binance.com" target ='_blank'>According to Binance and BitcoinTalk</a>, the active cryptocurrency users' 
            demographic concentrates within the stereotype: tech-savvy and financially educated European male, between the ages of 25 and 34, 
            who is able and oriented to take risks. This demographic concentration could be the result of a lack of educational and informational systems 
            available for people who are marginalized by the dominant fintech industry.
            </p>

            <p>
            <a href="https://cointraffic.io/blog/crypto-audience-revealed-who-is-your-target-user/" target ='_blank'>According to CoinTraffic</a>, some of the main 
            reasons why regular people don't invest in cryptocurrencies or blockchain-related products are:
                <ul>
                    <li>-   They find crypto hard to understand.</li>
                    <li>-   They believe all crypto to be a scam.</li>
                    <li>-   They are under the impression it is illegal in their jurisdiction.</li>
                    <li>-   They find crypto to be too difficult to spend in every-day life.</li>
                </ul>
            </p>
            
            <p>
            The Cryptopedia provides entry-level information to people who are new to crypto and looking to elevate their financial status outside 
            the traditional bank system, or the stock and bonds market. This project gears towards empowering new users, from a different background 
            than that above, so crypto mass adoption can happen as intended: openly and democratically, 
            all the while encouraging decentralized global prosperity. 
            </p>

            <p>
            The Cryptopedia was created by <a href="http://kescardoso.com" target ='_blank'>Kes Cardoso</a> (aka <a href="http://twitter.com/TokensForK" target ='_blank'>The Ether Girl</a>) 
            to be a simple but great resource for the new crypto learner: cross-cultural english speaker men and women, 
            small and stablished entrepreneurs, digital nomads, professionals and students, travelers, artists, activists, 
            and all others with an interest in alternative economies, open finance and crypto solutions.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h6>Credits</h6>
            <p>This project wouldn't be possible without the resources generously available from:</p>
        </div>

        <div class="col s12">
            <strong>Glossary & Research</strong>
            <ul class="cred-list">
                <li><a href="https://blog.sfox.com/how-to-trade-cryptocurrency-a-glossary-of-terms-459aec6cfd3" target="_blank">SFOX Edge</a></li>
                <li><a href="" target="_blank"></a></li>
                <li><a href="" target="_blank"></a></li>
            </ul>
        </div>

        <div class="col s12">
            <strong>Software Developement</strong>
            <ul class="cred-list">
                <li><a href="https://codeinstitute.net/" target="_blank">Code Institute</a></li>
                <li><a href="http://mongodb.com/" target="_blank">MongoDB</a></li>
                <li><a href="http://www.heroku.com" target="_blank">Heroku</a></li>
                <li><a href="https://materializecss.com/" target="_blank">Materialize</a></li>
            </ul>
        </div>
        
        <div class="col s12">
            <strong>Images</strong>
            <ul class="cred-list">
                <li><a href="https://www.flaticon.com/authors/eucalyp" target ='_blank'>Eucalyp</a> from <a href="https://www.flaticon.com/" target ='_blank'>FlatIcon</a></li>
            </ul>
        </div>
    </div>
    
{% endblock %}