{% extends 'base.html' %}
{% block content %}

    <h5>Credits:</h5>
    <div class="row">
        <div class="col s12">
        
            <div>
                <h6>Crypto Terms:</h6>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>

            <div>
                <h6>Images</h6>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>

            <div>
                <h6>Software Developement:</h6>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>
            
            <div>
                <h6>Images</h6>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>

        </div>
    
{% endblock %}