{% extends 'base.html' %}
{% block content %}

    <h5>Edit Category</h5>
    <div class="row">
        <!-- Start form: edit category onto the database -->
        <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST" class="col s12">

            <!-- Edit category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">label</i>
                    <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
                    <label for="category_name">Category</label>
                </div>
            </div>

            <!-- Submit buttons -->
            <div class="row">
                <!-- SAVE -->
                {% if session['user_name'] %}
                    <!-- Save button: logged-in access-->
                    <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                        Save
                        <i class="material-icons right">save_alt</i>
                    </button>
                {% else %}
                    <!-- Save button: restricted access-->
                    <button class="disabled waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                        Save
                        <i class="material-icons right">save_alt</i>
                    </button>
                {% endif %}
                <!-- DELETE -->
                {% if session['user_name']=='admin' %}
                    <!-- Delete button: admin access -->
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" 
                        class="waves-effect waves-light btn cyan accent-4">
                        Delete  
                        <i class="material-icons prefix right">delete_forever</i>
                    </a>
                {% else %}
                    <!-- Delete button: restricted access -->
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" 
                        class="disabled waves-effect waves-light btn cyan accent-4">
                        Delete  
                        <i class="material-icons prefix right">delete_forever</i>
                    </a>
                {% endif %}
                <!-- Cancel button -->
                <a href="{{ url_for('categories') }}" 
                    class="waves-effect waves-light btn grey">
                    Cancel
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
            
            <!-- Login for restricted access -->
            <div class="grey-text small">
                Please <a href="{{ url_for('login') }}">Log In</a> to edit category. Delete privileges are for admin only.
            </div>

        </form>
    </div>

{% endblock %}
