{% extends 'base.html' %}
{% block content %}

    <h5>Edit Category</h5>
    <div class="row">

        <!-- Start form: edit category onto the database -->
        <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST" class="col s12">

            <!-- Edit category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">label</i>
                    <input id="category_name" name="category_name" type="text" class="validate" value="{{category.category_name}}">
                    <label for="category_name">Category</label>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row">
                <!-- Save edits button -->
                <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                    Save
                    <i class="material-icons right">save_alt</i>
                </button>
                <!-- Delete button -->
                <a href="{{ url_for('delete_category', category_id=category._id) }}" 
                    class="waves-effect waves-light btn cyan accent-4">
                    Delete  
                    <i class="material-icons prefix right">delete_forever</i>
                </a>
                <!-- Cancel button -->
                <a href="{{ url_for('get_categories') }}" 
                    class="waves-effect waves-light btn grey">
                    Cancel
                    <i class="material-icons right">cancel</i>
                </a>

            </div>

        </form>
    </div>

{% endblock %}
