{% extends 'base.html' %}
{% block content %}

    <div class="row">

        <h5>User LogIn</h5>
        
        <!-- User form: Login -->
        <div class="row">

            <form action="" method="POST" class="col s12">
                
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password -->    
                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                    Log In
                </button>

            </form>

        </div>

        <!-- Register link -->
        <div>
            <p class="text-muted">
                Need an account? <a href="{{ url_for('register') }}">Register now</a>
            </p>
        </div>

    </div>
        
{% endblock %}