{% extends 'base.html' %}
{% block content %}

     <div class="row">

        <h5>Login</h5>
        
        <!-- User form: login -->
        <div class="row">
            <form action="" method="POST" class="col s12">

                <!-- CSRF Token -->
                {{ form.hidden_tag() }}

                <div class="row">
                    <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                    
                <div class="row">
                    <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                        Sign in
                        <i class="material-icons right">vpn_key</i>
                    </button>
                </div>


            </form>
        </div>
        
    
{% endblock %}