{% extends 'base.html' %}
{% block content %}

    <div class="row">

        <h5>Register New User</h5>
        
        <!-- User form: Register -->
        <div class="row">

            <form action="" method="POST" class="col s12">

                <!-- Username -->
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Email -->    
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email</label>
                    </div>
                </div>
                <!-- Password -->    
                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <button class="waves-effect waves-light btn cyan accent-4" type="submit" name="action">
                    Register
                </button>

            </form>

        </div>

        <!-- Login link for registered user -->
        <div>
            <p class="text-muted">
                Already have an account? <a href="{{ url_for('login') }}">Log In</a>
            </p>
        </div>
        
    </div>

{% endblock %}